<div id="group" class="panel panel-body">
    <div class="row">
        <h3 style="color: black" class="text-center">Sędziowie:</h3>
        <br>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <ul class="list-group">
                <% for(var i = 0;i<data.referees.length;i++){ %>
                    <li class="list-group-item"><%=data.referees[i]['firstName'] %> <%= data.referees[i]['lastName'] %></li>
                <% } %>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <h3 style="color: black" class="text-center">Konie:</h3>
        <br>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <ul class="list-group">
                <% for(var j = 0;j<data.horses.length;j++){ %>
                    <li class="list-group-item"><%= data.horses[j]['horseName'] %>
                    <% if(data.horses[j]['isVoteActive']){ %>
                     <button id="<%= data.horses[j]['_id'] %>" class='btn btn-danger btn-sm rateButton'>Zakończ ocenianie</button>
                    <% }else{ %>
                     <button id="<%= data.horses[j]['_id'] %>" class='btn btn-success btn-sm rateButton'>Zacznij ocenianie</button>
                    <% } %>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</div>