<!DOCTYPE html>
<html>
  <head>
    <title>Balios</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bootstrap.css" />
    <script src="/jquery.js" ></script>
    <script src="/javascripts/script.js"></script>  
    <script src="/bootstrap.js" ></script>
    
  </head>
  
  <body>
    <% include ../templates/admin_header.ejs  %>
    <div class="container content">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div id="content-panel" class="panel panel-heading text-center">
                    <h1>Lista Koni</h1>
                    <a href="/horse/add" class="btn btn-success">Dodaj</a>
                </div>
                <div class="panel panel-body">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Imię</th>
                        <th>Płeć</th>
                        <th>Data urodzenia</th>
                        <th>Dane hodowcy</th>
                        <th>Stan zawodnictwa</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                     <% for(var i=0; i < data.length; i++){ %>
                      <tr>
                        <td><%= data[i].horseName %></td>
                        <% if(data[i].sex == 'stallion'){ %>
                         <td>Ogier</td>
                        <% }else{ %>
                         <td>Klacz</td>
                        <% } %>
                        <td><%= data[i].birthDate %></td>
                        <td><%= data[i].ownerFirstName %> <%= data[i].ownerLastName %></td>
                        <% if(data[i].isActive){ %>
                         <td>Dopuszczony</td>
                        <% }else{ %>
                         <td>Zawieszony</td>
                        <% } %>
                        <td><a href="/horse/edit/<%= data[i]._id %>" class="btn btn-primary">Edytuj</a>
                        <% if(data[i].isActive){ %>
                            <a href="/horse/activation/<%= data[i]._id %>" id="activation" class="btn btn-warning">Zawieś</a>
                        <% }else{ %>
                         <a href="/horse/activation/<%= data[i]._id %>" id="activation" class="btn btn-success">Dopuść</a>
                        <% } %>
                        </td>
                      </tr>
                     <% } %>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
    <% include ../templates/footer.ejs %>
  </body>
  
</html>
