
<div id="content-panel" class="col-lg-12 col-md-12 col-sm-12">
    <div class="panel panel-default">
        <div class="panel panel-heading text-center">
            <h1>Ranking Championów</h1>
        </div>
        <div class="panel panel-body">
            <table id="ranking" class="table table-hover">
                <thead>
                    <tr>
                        <th>Nazwa konia</th>
                        <th>Właściciel konia</th>
                        <th>Podsumowanie punktów</th>
                    </tr>
                </thead>
                <tbody>
                    <% for( var i=0; i < 5; i++){ %>
                      <% if(horses[i].summary != 0){ %>
                      <tr id="horse">
                        <td id="horseName"><%= horses[i].horseName %></td>
                        <td id="ownerData"><%= horses[i].ownerFirstName %> <%= horses[i].ownerLastName %></td>
                        <td id="summary"><%= horses[i].summary %></td>
                      </tr>
                      <% } %>
                     <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    
    <div class="panel panel-default" style="margin-bottom: 250px">
        <div class="panel panel-heading text-center">
            <h1>Rankingi zawodów</h1>
        </div>
        <div class="panel panel-body">
            <% for( var j=0; j< competitions.length; j++){ %>
               <% if(competitions[j].horsess.length){ %>
                   <h1 style="text-decoration: underline; color: white;" class="text-center"> <%= competitions[j].name %></h1>
                    <table id="<%= competitions[j].name.replace(/\s/g, '').toLowerCase() %>" class="table dataTable table-hover">
                        <thead>
                          <tr>
                            <th>Nazwa konia</th>
                            <th>Właściciel konia</th>
                            <th>Średnia ocena z zawodów</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% for( var l=0;l< competitions[j].horsess.length; l++){ %>
                                <tr>
                                    <td><%= competitions[j].horsess[l].name %></td>
                                    <td><%= competitions[j].horsess[l].firstName %> <%= competitions[j].horsess[l].lastName %></td>
                                    <td><%= competitions[j].horsess[l].summary %></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                    <br>
                    <hr>
               <% } %>
            <% } %>
        </div>
    </div>
    
</div>

