
<div id="content-panel" class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom: 70px;">
    <div class="panel panel-default">
        <div class="panel panel-heading text-center">
            <h1>Lista Zawodów</h1>
            <!--<a id="competitionAdd" href="/competition/add" class="btn btn-success">Dodaj</a>-->
        </div>
        <div class="panel panel-body">
          <table class="table table-hover" >
            <thead>
              <tr>
                <th>Nazwa zawodów</th>
                <th>Stan zawodów</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
             <% var i = 0; var j = 0; var k = 0; for(i=0; i < data.length; i++){ %>
              <tr>
                <td><%= data[i].name %></td>
                <% if(data[i].isActive){ %>
                 <td id="status">Rozpoczęte</td>
                <% }else{ %>
                 <td id="status">Zakończone</td>
                <% } %>
                <td><a id="competitionEdit" href="/competition/edit/<%= data[i]._id %>" class="btn btn-primary">Edytuj</a>
                <% if(data[i].isActive){ %>
                 <a id="competitionActivator" href="/competition/activator/<%= data[i]._id %>" class="btn btn-warning">Zakończ</a>
                <% }else{ %>
                 <a id="competitionActivator" href="/competition/activator/<%= data[i]._id %>" class="btn btn-success">Rozpocznij</a>
                <% } %>
                <button id="competitionShowGroups" class="btn btn-info">Pokaż grupy</button>
                </td>
              </tr>
              <tr>
              <td colspan="3">
              <div id="groups" class="panel panel-default">
                 <% for(j=0; j<data[i].groups.length;j++){ %>
                        <% k = j + 1; %>
                         <div class="panel panel-heading text-center">
                             <a id="groupLink" href="/group/show/<%= data[i].groups[j]._id %>" class="btn btn-info">Grupa <%= k %></a>
                         </div>
                  <% } %>
              </div>
            </td>
            </tr>
             <% } %>
            </tbody>
          </table>
        </div>
    </div>
</div>